<div class="login">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Name</label>
    <input type="name" id="inputName" class="form-control" placeholder="Name" required="" autofocus="">
    <br />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPwd" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" id = 'signIn' type="button">Sign in</button>
  </form>

</div>
<script>