<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
    <title><?=$top_title . ' | ' . c('site_name') ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="qc:admins" content="47545471516156166316110063757" />
    <link href="<?php echo STATIC_HOST; ?>/static/css/bootstrap.min.3.3.5.css?<?php echo c('static_v'); ?>" rel="stylesheet">
    <style type="text/css">
     body 
{
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav 
{
	padding: 9px 0;
}
</style>
<link rel="stylesheet" href="<?php echo STATIC_HOST; ?>/static/css/style.css?<?php echo c('static_v'); ?>" type="text/css" >
<link rel="stylesheet" href="<?php echo STATIC_HOST; ?>/static/css/facebox.css?<?php echo c('static_v'); ?>" type="text/css" >
<?php if( isset($css) && is_array( $css ) ): ?>
        <?php foreach( $css as $cfile ): ?><link rel="stylesheet" type="text/css" href="<?php echo STATIC_HOST; ?>/static/css/<?=$cfile?>?<?php echo c('static_v'); ?>">
        <?php endforeach; ?>
<?php endif; ?>

<!--[if lt IE 9]>
      <script src="static/script/html5.js"></script>
<![endif]-->
<!--[if IE 6]>    
    		<link href="static/css/ie6.min.css" rel="stylesheet">
<![endif]-->
<script type="text/javascript">
HTTP_HOST = '<?php echo HTTP_HOST; ?>';
STATIC_HOST='<?php echo STATIC_HOST; ?>';

</script>
</head>    
<body>



<?php @include_once( dirname(__FILE__) ) . DS . '../header.tpl.html'; ?>
<br />
<div id = 'eatTable'>
  <div class="input-group">
      <form method = 'post' id = 'eatForm' action='<?php echo HTTP_HOST; ?>/?a=eat'>
        <input type="text" class="form-control" id="eatItem" name ='eatItem' placeholder="吃啥">
        <input type="text" class="form-control" id="eatPrice" name = 'eatPrice' placeholder="多少钱">
        <button type="button" class="btn btn-default" id='eatSelOk'>好了</button>
      </form>
  </div>
</div>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">账号信息</div>
  <div class="panel-body">
    <p>账号：<?php echo $userInfoDB['name'];?></p>
    <p>余额：<?php echo $userInfoDB['balance'];?></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">资金明细</div>
  <div class="panel-body">
    <div class="col-lg-6" id = 'recharge'>
      <div class="input-group">
        <input type="text" id = 'payAmount' class="form-control" placeholder="钱">
        <span class="input-group-btn">
          <button class="btn btn-default" id = 'doPay' type="button">充值!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <p class = 'clearBoth'></p>
    <ul class="nav nav-tabs">
      <li role="presentation" class="balanceBar active" id = 'addBalance'><a href="javascript:;">充值</a></li>
      <li role="presentation" class="balanceBar" id = 'rebateBalance'><a href="javascript:;">返利</a></li>
      <li role="presentation" class="balanceBar" id = 'refundBalance'><a href="javascript:;">退款</a></li>
    </ul>

    <?php if(isset($balanceInfoGroup['add'])):;?>
    <div class = 'addBalance balanceInfoDiv'>
      <table class="table table-bordered table-striped balanceInfoTable">
        <colgroup>
          <col class="col-xs-1">
          <col class="col-xs-7">
        </colgroup>
        <thead>
          <tr>
            <th>金额</th>
            <th>状态</th>
            <th>时间</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($balanceInfoGroup['add'] as $key => $value):;?>
          <tr>
            <td>￥<?php echo $value['point'];?></td>
            <td><?php echo $value['status'] == 1 ? '已激活' : '未激活';?></td>
            <td><?php echo date('Y/m/d H:i:s',$value['insert_date']);?></td>
          </tr>
          <?php endforeach;?>
        </tbody>
      </table>
    </div>
    <?php endif;?>

    <?php if(isset($balanceInfoGroup['rebate'])):;?>
    <div class = 'rebateBalance hide balanceInfoDiv'>
      <table class="table table-bordered table-striped balanceInfoTable">
          <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-7">
          </colgroup>
          <thead>
            <tr>
              <th>金额</th>
              <th>状态</th>
              <th>时间</th>
            </tr>
          </thead>
          <tbody>
            <?php foreach ($balanceInfoGroup['rebate'] as $key => $value):;?>
            <tr>
              <td>￥<?php echo $value['point'];?></td>
              <td><?php echo $value['status'] == 1 ? '已激活' : '未激活';?></td>
              <td><?php echo date('Y/m/d H:i:s',$value['insert_date']);?></td>
            </tr>
            <?php endforeach;?>
          </tbody>
        </table>
    </div>
    <?php endif;?>

    <?php if(isset($balanceInfoGroup['refund'])):;?>
    <div class = 'refundBalance hide balanceInfoDiv'>
        <table class="table table-bordered table-striped balanceInfoTable">
        <colgroup>
          <col class="col-xs-1">
          <col class="col-xs-7">
        </colgroup>
        <thead>
          <tr>
            <th>金额</th>
            <th>状态</th>
            <th>时间</th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($balanceInfoGroup['refund'] as $key => $value):;?>
            <tr>
              <td>￥<?php echo $value['point'];?></td>
              <td><?php echo $value['status'] == 1 ? '已激活' : '未激活';?></td>
              <td><?php echo date('Y/m/d H:i:s',$value['insert_date']);?></td>
            </tr>
          <?php endforeach;?>
        </tbody>
      </table>
    </div>
    <?php endif;?>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">消费信息</div>
  <div class="panel-body">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>饭店</th>
          <th>菜</th>
          <th>金额</th>
          <th>时间</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach($consumeInfo as $consume):;?>
          <tr>
            <td><a target="_blank" href = "<?php echo $consume['menuLink'];?>"><?php echo $consume['menuName'];?></a></td>
            <td><?php echo $consume['name'];?></td>
            <td><?php echo $consume['amount'];?></td>
            <td><?php echo date('Y/m/d H:i:s',$consume['insert_date']);?></td>
          </tr>
        <?php endforeach;?>
      </tbody>
    </table>
  </div>
</div>

<?php @include_once( dirname(__FILE__) ) . DS . '../footer.tpl.html'; ?>

</div><!--/.fluid-container-->
    
<script src="<?php echo STATIC_HOST;?>/static/script/jquery1.9.1.min.js?<?php echo c('static_v'); ?>"></script>
<script src="<?php echo STATIC_HOST;?>/static/script/bootstrap.min.3.3.5.js?<?php echo c('static_v'); ?>"></script>
<!--[if IE 6]>    
		 <script src="<?php echo STATIC_HOST;?>/static/script/ie6.min.js"></script>
<![endif]-->
<script src="<?php echo STATIC_HOST;?>/static/script/facebox.js?<?php echo c('static_v'); ?>"></script>
<script src="<?php echo STATIC_HOST;?>/static/script/app.js?<?php echo c('static_v'); ?>"></script>

<?php if( isset($js) && is_array( $js ) ): ?>
    <?php foreach( $js as $jfile ): ?><script type="text/javascript" src="static/script/<?=$jfile;?>?<?php echo c('static_v'); ?>" ></script>
    <?php endforeach; ?>
<?php endif; ?>
</body>
</html>
<script>