<div class="register">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
    <label for="inputEmail" class="sr-only">Name</label>
    <input type="name" id="inputName" class="form-control" placeholder="Name" required="" autofocus="">
    <br />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPwd" class="form-control" placeholder="Create a password" required="">
    <br />
    <label for="inputCode" class="sr-only">Invitation code</label>
    <input type="text" id="inputCode" class="form-control" placeholder="Invitation code" required="">
    <br />
    <button class="btn btn-lg btn-primary btn-block" id = 'signUp' type="button">Sign up</button>
  </form>

</div>
<script>